* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1ch 20px;
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 24px;
}

.logo {
  min-width: 300px;
  padding-left: 20%;
  flex: 1 1 50%;
  text-align: left;
}

.link {
  padding-right: 20%;
  display: flex;
  flex: 1 1 50%;
  flex-wrap: wrap;
  /* justify-content: end; */
  gap: 2ch;
  font-size: 18px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.hero {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5% 20%;
  background-color: #1f2937;
  color: #f9faf8;
  gap: 10%;
}

.hero > .main {
  max-width: 100%;
  min-width: 30%;
  height: fit-content;
  display: flex;
  flex: 1 1 45%;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1ch;
}

.main > h1 {
  font-size: 48px;
  font-weight: 900;
}

.main > p {
  font-size: 18px;
  color: #e5e7eb;
}

.main > a {
  padding: 0.75ch 1.5em;
  border-radius: 5px;
  margin-bottom: 2em;
  background-color: #3882f6;
  font-weight: 700;
}

.hero > .img {
  flex: 1 1 45%;
  max-width: 45%;
  min-width: 300px;
  max-height: fit-content;
}

.hero > .img > img {
  object-fit: fill;
  max-width: 100%;
  height: auto;
}

.info {
  min-height: 400px;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: start;
  padding: 1ch 20px;
  background-color: #ffffff;
  gap: 2em;
}

.info > .info-head {
  width: 100%;
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.info > .illus-grid {
  width: 100%;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 2em;
}

.illus-grid > .item {
  max-width: 100px;
}

.item > img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-color: #3882f6;
}

.qoute-container {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: 100%;
  min-width: 300px;
  padding: 5% 20%;
  background-color: #e5e7eb;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
}

.qoute-container > .name {
  text-align: end;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
}

.act-bg {
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.act-block {
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #3882f6;
  color: #f2f2f4;
  border-radius: 1ch;
  padding: 2% 20%;
  gap: 5%;
}

.act-block > .main {
  flex-basis: 70%;
  min-width: 300px;
}

.main > .call {
  color: #e5e7eb;
}

.act-block > .sign {
  border: 3px #e5e7eb solid;
  padding: 1ch 1.5em;
  color: #e5e7eb;
  border-radius: 1ch;
  font-size: 20px;
}

footer {
  height: 100px;
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5% auto;
  background-color: #1f2937;
  color: #f9faf8;
}
